[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apispec = "==5.1.1"
attrs = "==21.2.0"
click = "==8.0.3"
flasgger = "==0.9.5"
flask-marshmallow = "==0.14.0"
itsdangerous = "==2.0.1"
jsonschema = "==4.2.1"
markupsafe = "==2.0.1"
marshmallow = "==3.14.1"
mistune = "==0.8.4"
pyrsistent = "==0.18.0"
pyyaml = "==6.0"
six = "==1.16.0"
Flask = "==2.0.2"
Jinja2 = "==3.0.3"
Werkzeug = "==2.0.2"

[dev-packages]

[requires]
python_version = "3.9"
